package showcase

import (
	"github.com/axzilla/templui/internal/components/alert"
	"github.com/axzilla/templui/internal/components/icon"
)

templ AlertDestructive() {
	<div class="w-full max-w-xl">
		@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
			@icon.TriangleAlert(icon.Props{Size: 16})
			@alert.Title() {
				Error
			}
			@alert.Description() {
				Your session has expired. Please log in again.
			}
		}
	</div>
}
