package showcase

import (
	"github.com/axzilla/templui/components/alert"
	"github.com/axzilla/templui/icons"
)

templ AlertDestructive() {
	<div class="w-full max-w-xl">
		@alert.Alert(alert.Props{Variant: alert.VariantDestructive}) {
			@icons.TriangleAlert(icons.IconProps{Size: 16})
			@alert.Title() {
				Error
			}
			@alert.Description() {
				Your session has expired. Please log in again.
			}
		}
	</div>
}
