package showcase

import (
	"github.com/axzilla/templui/components/avatar"
	"github.com/axzilla/templui/icons"
)

templ AvatarWithIcon() {
	@avatar.Avatar(avatar.Props{
		Class: "bg-purple-300",
	}) {
		@icons.Camera(icons.IconProps{
			Size:  22,
			Color: "white",
		})
	}
}
