package showcase

import (
	"github.com/axzilla/templui/internal/components/avatar"
	"github.com/axzilla/templui/internal/components/icon"
)

templ AvatarWithIcon() {
	@avatar.Avatar(avatar.Props{
		Class: "bg-purple-300",
	}) {
		@icon.Camera(icon.Props{
			Size:  22,
			Color: "white",
		})
	}
}
