package showcase

import "github.com/axzilla/templui/internal/components/avatar"

templ AvatarFallback() {
	@avatar.Avatar() {
		@avatar.Image(avatar.ImageProps{
			// simulate a broken image
			Src: "broken-image.jpg",
		})
		@avatar.Fallback() {
			{ avatar.Initials("John Doe") }
		}
	}
}
