package showcase

import (
	"github.com/axzilla/templui/component/badge"
	"github.com/axzilla/templui/icon"
)

templ BadgeWithIcon() {
	@badge.Badge(badge.Props{
		Class: "flex gap-1 items-center",
	}) {
		@icon.Rocket(icon.Props{Size: 14})
		With Icon
	}
}
