package showcase

import (
	"github.com/axzilla/templui/components/badge"
	"github.com/axzilla/templui/icons"
)

templ BadgeWithIcon() {
	@badge.Badge(badge.Props{
		Class: "flex gap-1 items-center",
	}) {
		@icons.Rocket(icons.IconProps{Size: 14})
		With Icon
	}
}
