package showcase

import (
	"github.com/axzilla/templui/components"
	"github.com/axzilla/templui/icons"
)

templ ButtonIcons() {
	<div class="flex flex-wrap gap-2">
		@components.Button(components.ButtonProps{
			Text:     "Icon Left",
			IconLeft: icons.Rocket(icons.IconProps{Size: "16"}),
		})
		@components.Button(components.ButtonProps{
			Text:      "Icon Right",
			IconRight: icons.Rocket(icons.IconProps{Size: "16"}),
		})
	</div>
}
