package showcase

import (
	"github.com/axzilla/templui/components"
	"github.com/axzilla/templui/components/button"
)

templ ButtonLoading() {
	@button.Button(button.Props{
		Disabled: true,
		Class:    "flex items-center gap-2",
	}) {
		@components.Spinner(components.SpinnerProps{
			Size:  components.SpinnerSizeSm,
			Color: "text-primary-foreground",
		})
		Pleae wait
	}
}
