package showcase

import (
	"github.com/axzilla/templui/components/button"
	"github.com/axzilla/templui/icons"
)

templ ButtonWithIcon() {
	@button.Button(button.Props{
		Class: "flex gap-2 items-center",
	}) {
		@icons.Mail(icons.IconProps{Size: 16})
		Login with Email
	}
}
