package showcase

import (
	"github.com/axzilla/templui/component/button"
	"github.com/axzilla/templui/component/spinner"
)

templ ButtonLoading() {
	@button.Button(button.Props{
		Disabled: true,
		Class:    "flex items-center gap-2",
	}) {
		@spinner.Spinner(spinner.Props{
			Size:  spinner.SizeSm,
			Color: "text-primary-foreground",
		})
		Pleae wait
	}
}
