package showcase

import (
	"github.com/axzilla/templui/internal/components/button"
	"github.com/axzilla/templui/internal/components/icon"
)

templ ButtonIcon() {
	@button.Button(button.Props{
		Size:    button.SizeIcon,
		Variant: button.VariantOutline,
	}) {
		@icon.ChevronRight(icon.Props{Size: 16})
	}
}
