package showcase

import "github.com/axzilla/templui/components"

templ ButtonDisabled() {
	<div class="flex flex-wrap gap-2">
		@components.Button(components.ButtonProps{Text: "Disabled", Disabled: true})
	</div>
}
