package showcase

import (
	"github.com/axzilla/templui/internal/components/button"
	"github.com/axzilla/templui/internal/components/icon"
)

templ ButtonWithIcon() {
	@button.Button(button.Props{
		Class: "flex gap-2 items-center",
	}) {
		@icon.Mail(icon.Props{Size: 16})
		Login with Email
	}
}
