package showcase

import (
	"github.com/axzilla/templui/internal/components/calendar"
	"github.com/axzilla/templui/internal/components/card"
)

templ CalendarDefault() {
	<div class="w-full max-w-sm">
		@card.Card() {
			@card.Content() {
				@calendar.Calendar()
			}
		}
	</div>
}
