package showcase

import "github.com/axzilla/templui/pkg/components"

templ CardDefault() {
	@components.Card(components.CardProps{Class: "max-w-sm"}) {
		@components.CardHeader() {
			@components.CardTitle() {
				Card Title
			}
			@components.CardDescription() {
				Card Description
			}
		}
		@components.CardContent() {
			<p>Card Content</p>
		}
		@components.CardFooter() {
			@components.Button(components.ButtonProps{Text: "Action"})
		}
	}
}
