package showcase

import (
	"github.com/axzilla/templui/component/checkbox"
	"github.com/axzilla/templui/icon"
)

templ CheckboxCustomIcon() {
	@checkbox.Checkbox(checkbox.Props{
		Icon:    icon.Plus(icon.Props{Size: 12}),
		Checked: true,
	},
	)
}
