package showcase

import (
	"github.com/axzilla/templui/components"
	"github.com/axzilla/templui/icons"
)

templ CheckboxCustomIcon() {
	@components.Checkbox(components.CheckboxProps{
		Icon:    icons.Plus(icons.IconProps{Size: 12}),
		Checked: true,
	},
	)
}
