package showcase

import (
	"github.com/axzilla/templui/components"
	"github.com/axzilla/templui/components/checkbox"
)

templ CheckboxDisabled() {
	<div class="flex items-center gap-2">
		@checkbox.Checkbox(checkbox.Props{
			Disabled: true,
			ID:       "checkbox-disabled",
		},
		)
		@components.Label(components.LabelProps{
			For: "checkbox-disabled",
		}) {
			Accept terms and conditions
		}
	</div>
}
