package showcase

import "github.com/axzilla/templui/components"

templ CheckboxDisabled() {
	<div class="flex items-center gap-2">
		@components.Checkbox(components.CheckboxProps{
			Disabled: true,
			ID:       "checkbox-disabled",
		},
		)
		@components.Label("checkbox-disabled") {
			Accept terms and conditions
		}
	</div>
}
