package showcase

import "github.com/axzilla/templui/components"

templ CheckboxWithLabel() {
	<div class="flex items-center gap-2">
		@components.Checkbox(
			"checkbox-with-label",
			"checkbox-with-label",
			components.CheckboxProps{
				ID: "checkbox-with-label",
			},
		)
		@components.Label("checkbox-with-label") {
			Accept terms and conditions
		}
	</div>
}
