package showcase

import "github.com/axzilla/templui/components"

templ CheckboxDisabled() {
	<div class="flex items-center gap-2">
		@components.Checkbox(
			"checkbox-disabled",
			"checkbox-disabled",
			components.CheckboxProps{
				Disabled: true,
			},
		)
		@components.Label("checkbox-disabled") {
			Accept terms and conditions
		}
	</div>
}
