package showcase

import "github.com/axzilla/templui/components"

templ CodeCopyButton() {
	<div class="w-full max-w-md">
		@components.Code(components.CodeProps{
			Language:       "go",
			ShowCopyButton: true,
		}) {
			{ `fmt.Println("Hello, World!")` }
		}
	</div>
}
