package showcase

import "github.com/axzilla/templui/internal/components/code"

templ CodeCopyButton() {
	<div class="w-full max-w-md">
		@code.Code(code.Props{
			Language:       "go",
			ShowCopyButton: true,
		}) {
			{ `fmt.Println("Hello, World!")` }
		}
	</div>
}
