package showcase

import "github.com/axzilla/templui/components"

templ DatepickerDisabled() {
	<div class="w-full max-w-sm">
		@components.Datepicker(components.DatepickerProps{
			Disabled: true,
		})
	</div>
}
