
package showcase

import (
	"github.com/axzilla/templui/components/datepicker"
	"time"
)

templ DatePickerSelectedDate() {
	<div class="w-full max-w-sm">
		@datepicker.DatePicker(datepicker.Props{
			Value: time.Now(),
		})
	</div>
}
