package showcase

import "github.com/axzilla/templui/components"

templ DatePickerDisabled() {
	<div class="w-full max-w-sm">
		@components.DatePicker("birthdate",
			components.DatePickerProps{
				Disabled: true,
			})
	</div>
}
