package showcase

import "github.com/axzilla/templui/icon"

templ IconSizes() {
	<div class="flex flex-wrap gap-2">
		@icon.House()
		@icon.House(icon.Props{Size: 32})
		@icon.House(icon.Props{Size: 48})
	</div>
}
