package showcase

import "github.com/axzilla/templui/icons"

templ IconSizes() {
	<div class="flex flex-wrap gap-2">
		@icons.House(icons.IconProps{Size: "16"})
		@icons.House(icons.IconProps{Size: "24"})
		@icons.House(icons.IconProps{Size: "32"})
		@icons.House(icons.IconProps{Size: "48"})
	</div>
}
