package showcase

import "github.com/axzilla/templui/icons"

templ IconCustomClasses() {
	<div class="flex flex-wrap gap-2">
		@icons.ArrowRight(icons.IconProps{Size: "24", Class: "text-blue-500 hover:text-blue-700"})
		@icons.ArrowLeft(icons.IconProps{Size: "24", Class: "text-green-500 hover:text-green-700"})
	</div>
}
