package showcase

import "github.com/axzilla/templui/components"

templ InputOTPDefault() {
	@components.InputOTP("otp-default",
		components.InputOTPProps{
			ID: "otp-default",
		}) {
		@components.InputOTPGroup() {
			@components.InputOTPSlot(0)
			@components.InputOTPSlot(1)
			@components.InputOTPSlot(2)
			@components.InputOTPSeparator()
			@components.InputOTPSlot(3)
			@components.InputOTPSlot(4)
			@components.InputOTPSlot(5)
		}
	}
}
