package showcase

import "github.com/axzilla/templui/internal/components/input"

templ InputPassword() {
	<div class="w-full max-w-sm">
		@input.Input(input.Props{
			Type:        input.TypePassword,
			Placeholder: "your password",
		})
	</div>
}
