package showcase

import "github.com/axzilla/templui/internal/components/input"

templ InputDisabled() {
	<div class="w-full max-w-sm">
		@input.Input(input.Props{
			Type:        input.TypeEmail,
			Placeholder: "Email",
			Disabled:    true,
		},
		)
	</div>
}
