package showcase

import (
	"github.com/axzilla/templui/components/input"
	"github.com/axzilla/templui/components/label"
)

templ InputWithLabel() {
	<div class="w-full max-w-sm grid gap-2">
		@label.Label(label.Props{
			For: "email",
		}) {
			Email
		}
		@input.Input(input.Props{
			ID:          "email",
			Type:        input.TypeEmail,
			Placeholder: "Email",
		})
	</div>
}
