package showcase

import "github.com/axzilla/templui/internal/components/progress"

templ ProgressSizes() {
	<div class="space-y-6 w-full max-w-sm">
		@progress.Progress(progress.Props{
			Value: 50,
			Size:  progress.SizeSm,
		})
		@progress.Progress(progress.Props{
			Value: 65,
			Size:  progress.SizeLg,
		})
		@progress.Progress(progress.Props{
			Value: 80,
			Size:  progress.SizeLg,
		})
	</div>
}
