package showcase

import "github.com/axzilla/templui/components/progress"

templ ProgressColors() {
	<div class="space-y-6 w-full max-w-xs">
		@progress.Progress(progress.Props{
			Value:   50,
			Variant: progress.VariantSuccess,
		})
		@progress.Progress(progress.Props{
			Value:   75,
			Variant: progress.VariantDanger,
		})
		@progress.Progress(progress.Props{
			Value:   90,
			Variant: progress.VariantWarning,
		})
	</div>
}
