package showcase

import "github.com/axzilla/templui/components"

templ RadioWithLabel() {
	<div class="flex gap-2 items-center">
		@components.Radio("radio-with-label", "radio-with-label", components.RadioProps{
			ID: "radio-with-label",
		})
		@components.Label("radio-with-label") {
			Label
		}
	</div>
}
