package showcase

import (
	"github.com/axzilla/templui/internal/components/label"
	"github.com/axzilla/templui/internal/components/radio"
)

templ RadioDisabled() {
	<div class="flex gap-2 items-center">
		@radio.Radio(radio.Props{
			ID:       "radio-disabled",
			Disabled: true,
		})
		@label.Label(label.Props{
			For: "radio-disabled",
		}) {
			Disabled
		}
	</div>
}
