package showcase

import "github.com/axzilla/templui/component/rating"

templ RatingMaxValues() {
	@rating.Rating(rating.Props{
		Value: 7,
	}) {
		@rating.Group() {
			for i := 1; i <= 10; i++ {
				@rating.Item(rating.ItemProps{
					Value: i,
					Style: rating.StyleStar,
					Class: "scale-75", // Smaller stars for better display
				})
			}
		}
	}
}
