package showcase

import "github.com/axzilla/templui/components"

templ RatingReadOnly() {
	@components.Rating(components.RatingProps{
		Value:    4.7,
		MaxValue: 5,
		ReadOnly: true,
		Style:    components.RatingStyleStar,
	})
}
