package showcase

import "github.com/axzilla/templui/components"

templ RatingMaxValues() {
	@components.Rating(components.RatingProps{
		Value: 7,
	}) {
		@components.RatingGroup(components.RatingGroupProps{}) {
			for i := 1; i <= 10; i++ {
				@components.RatingItem(components.RatingItemProps{
					Value: i,
					Style: components.RatingStyleStar,
					Class: "scale-75", // Smaller stars for better display
				})
			}
		}
	}
}
