package showcase

import "github.com/axzilla/templui/component/rating"

templ RatingDefault() {
	@rating.Rating(rating.Props{
		Value:     3.5,
		ReadOnly:  false,
		Precision: 0.5,
	}) {
		@rating.Group() {
			for i := 1; i <= 5; i++ {
				@rating.Item(rating.ItemProps{
					Value: i,
					Style: rating.StyleStar,
				})
			}
		}
	}
}
