package showcase

import "github.com/axzilla/templui/components"

templ RatingDefault() {
	@components.Rating(components.RatingProps{
		Value:     3.5,
		ReadOnly:  false,
		Precision: 0.5,
	}) {
		@components.RatingGroup() {
			for i := 1; i <= 5; i++ {
				@components.RatingItem(components.RatingItemProps{
					Value: i,
					Style: components.RatingStyleStar,
				})
			}
		}
	}
}
