package showcase

import "github.com/axzilla/templui/internal/components/separator"

templ SeparatorDefault() {
	<div class="flex flex-col gap-4 items-center w-full max-w-md">
		<p>Top</p>
		@separator.Separator()
		<p>Bottom</p>
	</div>
}
