package showcase

import "github.com/axzilla/templui/component/separator"

templ SeparatorLabel() {
	<div class="flex flex-col gap-16 w-full max-w-md items-center">
		@separator.Separator(separator.Props{
			Class: "w-full",
		}) {
			OR
		}
		@separator.Separator(separator.Props{
			Class:       "h-24",
			Orientation: separator.OrientationVertical,
		}) {
			OR
		}
	</div>
}
