package showcase

import "github.com/axzilla/templui/components"

templ SeparatorDecorated() {
	<div class="flex flex-col gap-16 w-full max-w-md">
		@components.Separator(components.SeparatorProps{
			Decoration: components.SeparatorDecorationDashed,
			Label:      "DASHED",
		})
		@components.Separator(components.SeparatorProps{
			Decoration: components.SeparatorDecorationDotted,
			Label:      "DOTTED",
		})
	</div>
}
