package showcase

import "github.com/axzilla/templui/components/separator"

templ SeparatorDecorated() {
	<div class="flex flex-col gap-16 w-full max-w-md">
		@separator.Separator(separator.Props{
			Decoration: separator.DecorationDashed,
			Label:      "DASHED",
		})
		@separator.Separator(separator.Props{
			Decoration: separator.DecorationDotted,
			Label:      "DOTTED",
		})
	</div>
}
