package showcase

import "github.com/axzilla/templui/component/separator"

templ SeparatorDecorated() {
	<div class="flex flex-col gap-16 w-full max-w-md">
		@separator.Separator(separator.Props{
			Decoration: separator.DecorationDashed,
		}) {
			DASHED
		}
		@separator.Separator(separator.Props{
			Decoration: separator.DecorationDotted,
		}) {
			DOTTED
		}
	</div>
}
