package showcase

import "github.com/axzilla/templui/internal/components/skeleton"

templ SkeletonProfile() {
	<div class="flex items-center gap-4 w-full max-w-sm">
		@skeleton.Skeleton(skeleton.Props{Class: "h-12 w-12 rounded-full"})
		<div class="space-y-2 w-full">
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-full"})
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-3/4"})
		</div>
	</div>
}
