package showcase

import "github.com/axzilla/templui/internal/components/skeleton"

templ SkeletonDefault() {
	<div class="space-y-2 w-full max-w-sm">
		@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-full"})
		@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-2/3"})
		@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-1/3"})
	</div>
}
