package showcase

import "github.com/axzilla/templui/components"

templ SliderDefault() {
	<div class="w-full max-w-sm">
		@components.Slider(components.SliderProps{
			ID:   "default",
			Name: "default",
		})
	</div>
}
