package showcase

import "github.com/axzilla/templui/internal/components/slider"

templ SliderValue() {
	<div class="w-full max-w-sm">
		@slider.Slider() {
			<div class="flex justify-end mb-1">
				@slider.Value(slider.ValueProps{
					For: "slider-value",
				})
			</div>
			@slider.Input(slider.InputProps{
				ID:    "slider-value",
				Value: 75,
				Min:   0,
				Max:   100,
				Step:  1,
			})
		}
	</div>
}
