package showcase

import (
	"github.com/axzilla/templui/internal/components/button"
	"github.com/axzilla/templui/internal/components/spinner"
)

templ SpinnerInButton() {
	@button.Button(button.Props{
		Attributes: templ.Attributes{
			"disabled": "true",
		},
	}) {
		<div class="flex items-center gap-2">
			@spinner.Spinner(spinner.Props{
				Size:  spinner.SizeSm,
				Color: "text-primary-foreground",
			})
			<span>Loading</span>
		</div>
	}
}
