package showcase

import "github.com/templui/templui/internal/components/tagsinput"

templ TagsInputSuggestions() {
	<div class="w-full max-w-sm">
		@tagsinput.TagsInput(tagsinput.Props{
			ID:          "tags-with-suggestions",
			Placeholder: "Add a tag...",
			Suggestions: []string{"Linux", "Windows", "macOS", "Ubuntu", "Debian", "Fedora", "Arch Linux", "CentOS", "FreeBSD"},
		})
	</div>
}
