package showcase

import "github.com/axzilla/templui/internal/components/tagsinput"

templ TagsInputDisabled() {
	<div class="w-full max-w-sm">
		@tagsinput.TagsInput(tagsinput.Props{
			Placeholder: "Enter a network",
			Value: []string{"127.0.0.1/32"},
			Disabled:    true,
		},
		)
	</div>
}