package showcase

import "github.com/axzilla/templui/component/textarea"

templ TextareaDefault() {
	<div class="w-full max-w-md">
		@textarea.Textarea(textarea.Props{
			Placeholder: "Type your message here...",
		})
	</div>
}
