package showcase

import (
	"github.com/axzilla/templui/internal/components/label"
	"github.com/axzilla/templui/internal/components/textarea"
)

templ TextareaDisabled() {
	<div class="space-y-2 w-full max-w-md">
		@label.Label(label.Props{
			For: "textarea-disabled",
		}) {
			Your Message
		}
		@textarea.Textarea(textarea.Props{
			ID:          "textarea-disabled",
			Disabled:    true,
			Placeholder: "Type your message here...",
		})
	</div>
}
