package showcase

import "github.com/axzilla/templui/components"

templ TextareaDisabled() {
	<div class="space-y-2 w-full max-w-md">
		@components.Label("textarea-disabled") {
			Your Message
		}
		@components.Textarea(components.TextareaProps{
			ID:          "textarea-disabled",
			Disabled:    true,
			Placeholder: "Type your message here...",
		})
	</div>
}
