package showcase

import "github.com/axzilla/templui/components"

templ TimePickerLabel() {
	<div class="flex flex-col gap-2 w-full max-w-sm">
		@components.Label(components.LabelProps{
			Text: "Select a time",
			For:  "time-picker-label",
		})
		@components.TimePicker(components.TimePickerProps{
			ID:         "time-picker-label",
			Use12Hours: true,
		})
	</div>
}
