package showcase

import (
	"github.com/axzilla/templui/components/timepicker"
	"time"
)

templ TimePickerSelectedTime() {
	<div class="w-full max-w-sm">
		@timepicker.TimePicker(timepicker.Props{
			Value: time.Now(),
		})
	</div>
}
