package showcase

import "github.com/axzilla/templui/internal/components/timepicker"

templ TimePickerCustomPlaceholder() {
	<div class="w-full max-w-sm">
		@timepicker.TimePicker(timepicker.Props{
			Placeholder: "When do you want to meet?",
		})
	</div>
}
