package showcase

import "github.com/axzilla/templui/components"

templ TimePicker12Hour() {
	<div class="w-full max-w-sm">
		@components.TimePicker(components.TimePickerProps{
			Use12Hours: true,
		})
	</div>
}
