package showcase

import "github.com/axzilla/templui/pkg/components"

templ Toast() {
	<div>
		<form
			class="flex flex-col gap-2"
			hx-post="/docs/toast/demo"
			hx-trigger="submit"
			hx-target="#toast-container"
		>
			@components.Button(components.ButtonProps{
				Text: "Show Toast",
				Type: "submit",
			})
		</form>
		<div id="toast-container"></div>
	</div>
}
