package showcase

import "github.com/axzilla/templui/components"

templ ToggleDisabled() {
	<div class="flex items-center gap-2">
		@components.Toggle(components.ToggleProps{
			ID:       "toggle-disabled",
			Disabled: true,
		})
		@components.Label("toggle-disabled") {
			Airplane Mode
		}
	</div>
}
