package showcase

import (
	"github.com/axzilla/templui/internal/components/label"
	"github.com/axzilla/templui/internal/components/toggle"
)

templ ToggleDisabled() {
	<div class="flex items-center gap-2">
		@toggle.Toggle(toggle.Props{
			ID:       "toggle-disabled",
			Disabled: true,
		})
		@label.Label(label.Props{
			For: "toggle-disabled",
		}) {
			Airplane Mode
		}
	</div>
}
