package layouts

import "github.com/axzilla/goilerplate/internals/ui/components"

templ DocsLayout() {
	@BaseLayout() {
		@components.Navbar()
		<div class="flex flex-1 overflow-hidden">
			@components.Sidebar()
			<main class="flex-1 overflow-auto">
				<div class="container max-w-3xl mx-auto px-4 py-8">
					{ children... }
				</div>
			</main>
			<div class="hidden lg:block">
				@components.SidebarRight()
			</div>
		</div>
		@components.Footer()
	}
}
