package helpers

import (
	"github.com/axzilla/templui/components/carousel"
	"github.com/axzilla/templui/components/chart"
	"github.com/axzilla/templui/components/code"
	"github.com/axzilla/templui/components/datepicker"
	"github.com/axzilla/templui/components/drawer"
	"github.com/axzilla/templui/components/dropdown"
	"github.com/axzilla/templui/components/inputotp"
	"github.com/axzilla/templui/components/label"
	"github.com/axzilla/templui/components/modal"
	"github.com/axzilla/templui/components/popover"
	"github.com/axzilla/templui/components/rating"
	"github.com/axzilla/templui/components/selectbox"
	"github.com/axzilla/templui/components/slider"
	"github.com/axzilla/templui/components/tabs"
	"github.com/axzilla/templui/components/textarea"
	"github.com/axzilla/templui/components/timepicker"
	"github.com/axzilla/templui/components/toast"
)

templ ComponentScripts() {
	@carousel.Script()
	@chart.Script()
	@code.Script()
	@datepicker.Script()
	@drawer.Script()
	@dropdown.Script()
	@inputotp.Script()
	@label.Script()
	@modal.Script()
	@popover.Script()
	@rating.Script()
	@selectbox.Script()
	@slider.Script()
	@tabs.Script()
	@textarea.Script()
	@timepicker.Script()
	@toast.Script()
}
