package helpers

import (
	"github.com/axzilla/templui/components"
	"github.com/axzilla/templui/components/carousel"
	"github.com/axzilla/templui/components/chart"
	"github.com/axzilla/templui/components/code"
	"github.com/axzilla/templui/components/datepicker"
	"github.com/axzilla/templui/components/drawer"
	"github.com/axzilla/templui/components/dropdown"
	"github.com/axzilla/templui/components/inputotp"
	"github.com/axzilla/templui/components/label"
)

templ ComponentScripts() {
	@carousel.Script()
	@chart.Script()
	@code.Script()
	@datepicker.Script()
	@drawer.Script()
	@dropdown.Script()
	@inputotp.Script()
	@label.Script()
	@components.ModalScript()
	@components.PopoverScript()
	@components.RatingScript()
	@components.SelectScript()
	@components.SliderScript()
	@components.TabsScript()
	@components.TextareaScript()
	@components.TimePickerScript()
	@components.ToastScript()
}
