package helper

import (
	"github.com/axzilla/templui/component/carousel"
	"github.com/axzilla/templui/component/chart"
	"github.com/axzilla/templui/component/code"
	"github.com/axzilla/templui/component/datepicker"
	"github.com/axzilla/templui/component/drawer"
	"github.com/axzilla/templui/component/dropdown"
	"github.com/axzilla/templui/component/inputotp"
	"github.com/axzilla/templui/component/label"
	"github.com/axzilla/templui/component/modal"
	"github.com/axzilla/templui/component/popover"
	"github.com/axzilla/templui/component/rating"
	"github.com/axzilla/templui/component/selectbox"
	"github.com/axzilla/templui/component/slider"
	"github.com/axzilla/templui/component/tabs"
	"github.com/axzilla/templui/component/textarea"
	"github.com/axzilla/templui/component/timepicker"
	"github.com/axzilla/templui/component/toast"
)

templ ComponentScripts() {
	@carousel.Script()
	@chart.Script()
	@code.Script()
	@datepicker.Script()
	@drawer.Script()
	@dropdown.Script()
	@inputotp.Script()
	@label.Script()
	@modal.Script()
	@popover.Script()
	@rating.Script()
	@selectbox.Script()
	@slider.Script()
	@tabs.Script()
	@textarea.Script()
	@timepicker.Script()
	@toast.Script()
}
