package components

import "time"
import "fmt"

templ Footer() {
	<footer class="my-8 text-center text-md text-muted-foreground">
		<p>
			{ fmt.Sprintf("© %d goilerplate:", time.Now().Year()) }
			Where Go meets UI, and sanity is optional.
		</p>
		<p>Use at your own risk. Stupid code not excluded.</p>
	</footer>
}
