package components

import "time"
import "fmt"

templ Footer() {
	<footer class="shadow-md mt-auto">
		<div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
			<p class="text-center text-gray-500 dark:text-gray-400">
				{ fmt.Sprintf("© %d goilerplate", time.Now().Year()) }
			</p>
		</div>
	</footer>
}
