package modules

import (
	"fmt"
	"time"
)

templ Footer() {
	<footer class="py-4 text-center text-sm text-muted-foreground border-t">
		<div class="container">
			<p class="mb-4 font-semibold">
				{ fmt.Sprintf("© %d goilerplate.", time.Now().Year()) } Stupid code not excluded.
			</p>
		</div>
	</footer>
}
