package layouts

import "github.com/axzilla/templui/internal/ui/modules"

templ ProLayout() {
	@BaseLayout() {
		<div class="flex flex-col h-screen">
			@modules.Navbar()
			<div class="container mx-auto px-4 flex flex-1 overflow-hidden">
				<main class="flex-1 overflow-y-auto">
					{ children... }
					@modules.Footer()
				</main>
			</div>
		</div>
	}
}
