package components

import "github.com/axzilla/templui/utils"

type SkeletonProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

templ Skeleton(props SkeletonProps) {
	<div
		id={ props.ID }
		class={ utils.TwMerge(
			"animate-pulse rounded bg-muted",
			props.Class,
		) }
		{ props.Attributes... }
	></div>
}
