package components

templ ThemeSwitcher() {
	@Button(ButtonProps{
		Size:       "icon",
		Variant:    "ghost",
		Attributes: templ.Attributes{"@click": "toggleTheme()"},
	}) {
		<div x-show="theme === 'dark'">
			@LightIcon()
		</div>
		<div x-show="theme === 'light'">
			@DarkIcon()
		</div>
	}
}

templ DarkIcon() {
	@Icon(IconProps{Name: "moon"})
}

templ LightIcon() {
	@Icon(IconProps{Name: "sun-medium"})
}
