package showcase

import (
	"github.com/axzilla/goilerplate/pkg/components"
	"github.com/axzilla/goilerplate/pkg/icons"
)

templ BadgeIcons() {
	<div class="flex flex-wrap gap-2">
		@components.Badge(components.BadgeProps{
			Text:       "Icon Left",
			IconBefore: icons.Rocket(icons.IconProps{Size: "14"}),
		})
		@components.Badge(components.BadgeProps{
			Text:      "Icon Right",
			IconAfter: icons.Rocket(icons.IconProps{Size: "14"}),
		})
	</div>
}
