package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ ButtonWithClick() {
	<div class="flex flex-wrap gap-2">
		@components.Button(components.ButtonProps{Text: "With Alpine.js", Attributes: templ.Attributes{"@click": "alert('Hey Dude!')"}})
		@components.Button(components.ButtonProps{Text: "With Vanilla JS", Attributes: templ.Attributes{"onclick": "alert('Hey Dude!')"}})
	</div>
}
