package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ ButtonFullwidth() {
	<div class="flex w-full flex-wrap gap-2">
		@components.Button(components.ButtonProps{Text: "Full Width using prop", FullWidth: true})
		@components.Button(components.ButtonProps{Text: "Full Width using class", Class: "w-full"})
	</div>
}
