package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ CheckboxDefault() {
	@components.Checkbox(components.CheckboxProps{
		ID:    "default-checkbox",
		Name:  "default",
		Value: "default",
		Label: "Accept terms and conditions",
	})
}
