package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ CheckboxDisabled() {
	@components.Checkbox(components.CheckboxProps{
		ID:         "disabled-checked-checkbox",
		Name:       "disabled-checked",
		Value:      "disabled-checked",
		Label:      "Disabled checked option",
		Attributes: templ.Attributes{"disabled": "true"},
	})
}
