package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ DatepickerCustomPlaceholder() {
	@components.Datepicker(components.DatepickerProps{
		ID:          "date",
		Name:        "date",
		Placeholder: "When is your birthday?",
		Class:       "w-full max-w-xs",
	})
}
