package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ DatepickerDefault() {
	@components.Datepicker(components.DatepickerProps{
		ID:    "my-datepicker",
		Name:  "selected-date",
		Class: "w-full max-w-xs",
	})
}
