package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ Datepicker() {
	@components.Datepicker(components.DatepickerProps{
		ID:          "my-datepicker",
		Name:        "selected-date",
		Placeholder: "Select a date",
		Format:      "YYYY-MM-DD",
		Class:       "w-full max-w-xs",
	})
}
