package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ DatepickerCustomPlaceholder() {
	<div class="w-full max-w-sm">
		@components.Datepicker(components.DatepickerProps{
			ID:          "datepicker-custom-placeholder",
			Name:        "datepicker-custom-placeholder",
			Placeholder: "When is your birthday?",
		})
	</div>
}
