package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputFile() {
	<div class="w-full max-w-sm">
		@components.Input(components.InputProps{
			Type: "file",
		})
	</div>
}
