package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputDefault() {
	<div class="w-full max-w-sm">
		@components.Input(components.InputProps{
			Type:        "email",
			Placeholder: "Email",
		})
	</div>
}
