package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputDisabled() {
	@components.Input(components.InputProps{
		Type:        "email",
		Placeholder: "e.g. john@doe.com",
		Attributes:  templ.Attributes{"disabled": "true"},
	})
}
