package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputWithPlaceholder() {
	@components.Input(components.InputProps{
		Type:        "email",
		Placeholder: "e.g. john@doe.com",
	})
}
