package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputAdvanced() {
	@components.Input(components.InputProps{
		ID:          "username",
		Label:       "Username",
		Placeholder: "e.g. john123",
		Description: "This is your public display name.",
		Value:       "",
		Error:       "Username must be more then 2 characters",
	})
}
