package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputWithValues() {
	<div class="flex flex-col gap-4">
		@components.Input(components.InputProps{
			Type:        "email",
			Placeholder: "Enter text",
			Value:       "Value using props",
		})
		@components.Input(components.InputProps{
			Type:        "email",
			Placeholder: "Enter text",
			Attributes: templ.Attributes{
				"value": "Value using attributes",
			},
		})
	</div>
}
