package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputWithLabel() {
	@components.Input(components.InputProps{
		ID:    "email",
		Type:  "email",
		Label: "Email",
	})
}
