package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputWithError() {
	@components.Input(components.InputProps{
		ID:    "username",
		Error: "Username must be more then 2 characters",
	})
}
