package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ InputWithDescription() {
	@components.Input(components.InputProps{
		ID:          "email",
		Type:        "email",
		Description: "This is your accounts email address.",
	})
}
