package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ RadioDefault() {
	<div class="flex gap-2 items-center">
		@components.Radio(components.RadioProps{
			Name: "radio-default",
		})
	</div>
}
