package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ SelectSelectedValue() {
	<div class="w-full max-w-sm">
		@components.Select(components.SelectProps{
			Options: []components.SelectOption{
				{Label: "Apple", Value: "apple"},
				{Label: "Banana", Value: "banana", Selected: true},
				{Label: "Orange", Value: "orange"},
				{Label: "Mango", Value: "mango"},
			},
		})
	</div>
}
