package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ SelectDisabled() {
	<div class="space-y-2 w-full max-w-sm">
		@components.FormLabel(components.FormLabelProps{
			Text: "Choose a fruit",
			For:  "select-disabled",
		})
		@components.Select(components.SelectProps{
			ID:       "select-disabled",
			Disabled: true,
			Options: []components.SelectOption{
				{Label: "Apple", Value: "1"},
				{Label: "Banana", Value: "2"},
			},
		})
	</div>
}
