package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ SelectDefault() {
	<div class="w-full  max-w-md">
		@components.Select(components.SelectProps{
			Options: []components.SelectOption{
				{Label: "Apple", Value: "apple"},
				{Label: "Banana", Value: "banana"},
				{Label: "Orange", Value: "orange"},
				{Label: "Mango", Value: "mango"},
			},
		})
	</div>
}
