package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ SliderWithSteps() {
	@components.Slider(components.SliderProps{
		ID:          "steps",
		Name:        "steps",
		Label:       "Zoom Level",
		Value:       100,
		Min:         0,
		Max:         200,
		Step:        25,
		ShowValue:   true,
		ValueFormat: "%",
	})
}
