package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ SliderWithValue() {
	<div class="w-full max-w-sm">
		@components.Slider(components.SliderProps{
			ID:          "with-label",
			Name:        "with-label",
			Value:       75,
			Min:         0,
			Max:         100,
			Step:        1,
			ShowValue:   true,
			ValueFormat: "%",
		})
	</div>
}
