package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ TextareaWithError() {
	@components.Textarea(components.TextareaProps{
		ID:          "with-error",
		Name:        "with-error",
		Label:       "Your Message",
		Error:       "Message is required",
		Placeholder: "Type your message here.",
	})
}
