package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ TextareaWithDescription() {
	@components.Textarea(components.TextareaProps{
		ID:          "with-label",
		Name:        "with-label",
		Label:       "Your Message",
		Description: "Write a detailed description of your request.",
		Rows:        4,
	})
}
