package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ TextareaWithRows() {
	@components.Textarea(components.TextareaProps{
		ID:          "tall",
		Name:        "tall",
		Placeholder: "Type your message here.",
		Rows:        6,
	})
}
