
package showcase

import "github.com/axzilla/templui/pkg/components"

templ TextareaWithValue() {
	<div class="w-full max-w-md">
		@components.Textarea(components.TextareaProps{
			Value: "This is a text area with a value.",
		})
	</div>
}
