package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ TextareaWithRows() {
	<div class="w-full max-w-md">
		@components.Textarea(components.TextareaProps{
			Placeholder: "Type your message here.",
			Rows:        6,
		})
	</div>
}
