package showcase

templ Toast() {
	<div class="flex flex-wrap gap-2">
		<div>
			<form
				hx-post="/users"
				hx-target="#toast-container"
				class="space-y-4"
			>
				<div>
					<label for="email">Email</label>
					<input
						type="email"
						name="email"
						id="email"
						class="w-full rounded-lg border"
					/>
				</div>
				<button type="submit">Speichern</button>
			</form>
			<div id="toast-container"></div>
		</div>
	</div>
}
