package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ ToggleDisabled() {
	<div class="flex items-center gap-2">
		@components.Toggle(components.ToggleProps{
			ID:       "toggle-disabled",
			Disabled: true,
		})
		@components.Label(components.LabelProps{
			For:  "toggle-disabled",
			Text: "Airplane Mode",
		})
	</div>
}
