package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ ToggleLabelRight() {
	@components.Toggle(components.ToggleProps{
		ID:         "toggle-right",
		Name:       "toggle-right",
		LabelRight: "Label Right",
	})
}
