package showcase

import "github.com/axzilla/goilerplate/pkg/components"

templ ToggleLabelLeft() {
	@components.Toggle(components.ToggleProps{
		ID:        "toggle-left",
		Name:      "toggle-left",
		LabelLeft: "Label Left",
	})
}
