package pages

// import "github.com/go-echarts/go-echarts/v2/charts"

// import "context"
// import "io"

// type Renderable interface {
// 	Render(w io.Writer) error
// }
//
// func ConvertChartToTemplComponent(chart Renderable) templ.Component {
// 	return templ.ComponentFunc(func(ctx context.Context, w io.Writer) error {
// 		return chart.Render(w)
// 	})
// }
// templ Chart(chart *charts.Bar) {
// 	<!-- @ConvertChartToTemplComponent(chart) -->
// }
templ Chart() {
}
